html {
  font-size: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #eeeeee !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: rem;
  line-height: 1.5;
  padding: 10% 0 0 5%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: rem;
  line-height: 1.5;
  padding: 5%;
}

td {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar */

.navbar.navbar {
  padding: 0 0 0;
  background-color: #00adb5 !important;
}

.navbar-brand.brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #393e46 !important;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

.button {
  padding: 2% 0%;
}

#loginForm {
  font-family: "Montserrat", sans-serif;
  font-size: rem;
  line-height: 1.5;
  padding: 5%;
  size: 20;
}

#form {
  font-family: "Montserrat", sans-serif;
  font-size: rem;
  line-height: 1.5;
  padding: 5%;
}
